---
const currentYear = new Date().getFullYear();
---

<section class="w-max-[1440px] w-full flex justify-between p-4 sm:p-8 lg:p-16">
    <p>FOLIO 0A/0 LAUNCH</p>
    <p class="hidden sm:block">All rights reserved.</p>
    <p>{currentYear}</p>
</section>
