<header class="flex justify-center">
    <nav
        class="w-max-[1440px] w-full flex justify-between items-center p-8 lg:p-16"
    >
        <a
            href="/PORTFOLIO"
            aria-label="Home"
            class="logo border rounded-full size-8 lg:size-10 flex justify-center items-center"
            ><p class="text-base lg:text-lg font-extrabold">f</p></a
        >
        <div class="flex gap-2">
            <a
                href="https://github.com/franArteaga8"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="GitHub"
                class="p-1 lg:p-2"
            >
                <img src="./github.svg" alt="GitHub Logo" class="size-6" />
            </a>
            <a
                href="https://www.linkedin.com/in/fran-arteaga/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="LinkedIn"
                class="p-1 lg:p-2"
            >
                <img src="./linkedin.svg" alt="Linkedin Logo" class="size-6" />
            </a>
        </div>
    </nav>
</header>
