<header class="flex justify-center">
    <nav class="w-max-[1440px] w-full flex justify-between items-center p-4">
        <a href="/PORTFOLIO" aria-label="Home" class="logo"
            ><p class="text-base font-extrabold">fRNRT</p></a
        >
        <div class="flex gap-4">
            <a
                href="https://github.com/franArteaga8"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="GitHub"
            >
                <img src="./github.svg" alt="GitHub Logo" />
            </a>
            <a
                href="https://www.linkedin.com/in/fran-arteaga/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="LinkedIn"
            >
                <img src="./linkedin.svg" alt="Linkedin Logo" />
            </a>
        </div>
    </nav>
</header>
