---
import FolioDetails from "@components/FolioDetails.astro";
---

<section class="w-full h-full flex flex-col justify-between">
    <div class="h-full flex flex-col justify-center px-8 sm:px-[7.75rem]">
        <h1
            class="text-[7.5rem] md:text-[8.5rem] lg:text-[12.5rem] 2xl:text-[20rem] leading-[.8em] font-bebas tracking-[-0.06em] pb-8"
        >
            FRAN ARTEAGA
        </h1>
        <div class="font-jetbrains uppercase">
            <div class="flex flex-col py-3">
                <p
                    class="text-xs md:text-xl lg:text-2xl xl:text-3xl font-light"
                >
                    Full-Stack
                </p>
                <p
                    class="text-3xl md:text-4xl lg:text-5xl xl:text-7xl font-medium"
                >
                    Web Developer
                </p>
            </div>
            <div class="flex flex-col py-3">
                <p class="text-xs lg:text-2xl xl:text-3xl font-light">
                    Frontend
                </p>
                <p
                    class="text-3xl sm:text-[2rem] md:text-4xl lg:text-5xl xl:text-7xl font-medium"
                >
                    UI/UX Designer
                </p>
            </div>
        </div>
    </div>

    <FolioDetails />
</section>
