---
import Header from "@components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="bg-carbon text-ash font-jetbrains w-full flex">
		<div class="h-dvh w-full flex flex-col">
			<Header />
			<slot />
		</div>
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}

	@font-face {
		font-family: "JetBrains Mono";
		src: url("/src/assets/fonts/JetBrainsMono-VariableFont_wght.ttf")
			format("truetype");
		font-weight: 100 900;
		font-style: normal;
	}

	@font-face {
		font-family: "JetBrains Mono";
		src: url("/src/assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
			format("truetype");
		font-weight: 100 900;
		font-style: italic;
	}

	@font-face {
		font-family: "Bebas Neue";
		src: url("/src/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
		font-weight: 100 900;
		font-style: normal;
	}
</style>
